@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
    /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: 'Quicksand', sans-serif;
}

.homepage{
  background-image: url(/home-image.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
}

.landing-page{
  display: flex;
  flex-direction: column;
  height: 85vh;

}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #ecebe776;
  position: fixed;
  width: 100%;
  height: 7em;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  /* align-items: center; */
  /* width: 100%; */
  /* justify-content: center; */
}

.buttons ul {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.buttons li {
  font-size: large;
  font-weight: 100;
  list-style: none;
  margin: 30px;
  padding: 8px 0;
  /* margin-left: 80px;
  margin-bottom: 13px; */
}

.login-button {
  /* color: white; */
  border-radius: 30px;
  width: 80px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.523);
}

.login-button a {
  color: white;
}

.login-button:hover {
  background-color: #000;
}

.signup-button {
  /* color: white; */
  border-radius: 30px;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.523);
}

.signup-button a {
  color: white;
}

.signup-button:hover {
  background-color: #000;
}

a {
  text-decoration: none;
  color: black;
}

.home-banner {
  margin-top: 190px;
  /* height: 90vh; */
}

.motto {
  margin-right: 50%;
  margin-left: 10%;
}

.motto h1{
  font-size: 80px;
  font-weight: 900;
  color: white;
}

.motto p{
  color: white;
  width: 80%;
  font-size: 25px;
  font-weight: 300;
  margin-top: 25px;
}

.start-application-buttons {
  border-radius: 50px;
  width: 160px;
  height: 50px;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.523);
}

.start-application-buttons a {
  font-weight: 200;
  color: white;
}

.start-application-buttons:hover {
  background-color: #000;
}

.search{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.presearch-text {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search p {
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.telescope {
  background-image: url('/telescope.png');
  background-size: contain;
  margin-left: 30px;
  width: 50px;
  height: 50px;

}

.search-form-container {
  margin-top: 50px;
  height: 65vh;
  width: 80%;
  background-color: rgb(105, 149, 202);
}

.search-form-container form{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.search-form-container input {
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: larger;
  border-radius: 60px;
  border: none;
  height: 60px;
  width: 80%;
}

.form button {
  width: 35px;
  height: 35px;
  background-image: url('/search.png');
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 30px;
}    

.search-filters{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 90%;
  text-align: left;
}

.search-filters p{
  font-size: 17px;
  margin:20px;
}

.search-filters-buttons{
  display: flex;
  flex-wrap: wrap;
}

.search-filters button{
  margin: 20px;
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(63, 117, 183);
}

.start button{
  padding: 20px;
  font-size: 15px;
  margin: 20px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: black;
}

.faq-banner{
  width: 100%;
  height: 70vh;
  background-color: rgb(243, 243, 243);
  margin-top: 150px;
}
.sign-up-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(39, 102, 161); */
  background-image: url('/home-image.jpg');
  background-repeat: no-repeat;
}

.header{
  color: white;
}

.sign-up-container {
display: flex;
flex-direction: column;
align-items: center   ;
justify-content: space-evenly;
width: 30%;
height: 90vh;
margin-top: 50px;
background-color: aliceblue;
border-radius: 30px;
}
 
#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

.email {
  display: flex;
  flex-direction: column;
}

.phone {
  display: flex;
  flex-direction: column;
}     

.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(39, 102, 161); */
  background-image: url('/home-image.jpg');
  background-repeat: no-repeat;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center   ;
  justify-content: space-evenly;
  width: 30%;
  height: 50vh;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 30px;
  }

  #sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
  }

  .sign-in-form-div {
    display: flex;
  }