@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&family=Mynerve&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
    /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family:'Poppins', sans-serif;
}

.homepage{
  background-image: url(/home-image.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.landing-page{
  display: flex;
  flex-direction: column;
  /* height: 85vh; */

}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #1f1f1f0c;
  position: fixed;
  width: 100%;
  height: 7em;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.mobile-navbar-page{
  background-image: linear-gradient(to bottom, rgba(108, 183, 215), rgb(51, 119, 194));
  height: 100vh;
  display: flex;
}
.mobile-navbar-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.mobile-navbar-buttons{
  margin-top: 5em;
  height: 45%;
  margin-left: 10%;
}


.mobile-navbar-buttons ul{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.login-signup-buttons-navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-mobile-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-top: 20px;
  height:7vh;
  width: 80%;
  background-color: white;
}

.sign-up-mobile-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-top:10px;
  height:7vh;
  width: 80%;
  background-color: rgb(30, 71, 116);
  color: white;
}

.title h1{
  font-family: 'mynerve';
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  /* align-items: center; */
  /* width: 100%; */
  /* justify-content: center; */
}

.buttons-mobile{
  display: none;
}

.buttons ul {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.buttons li {
  font-size: 17px;
  font-weight: 300;
  list-style: none;
  margin: 30px;
  padding: 8px 0;
  /* margin-left: 80px;
  margin-bottom: 13px; */
}

.login-button {
  /* color: white; */
  border-radius: 30px;
  width: 80px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.523);
}

.login-button a {
  color: white;
}

.login-button:hover {
  background-color: #000;
}

.signup-button {
  /* color: white; */
  border-radius: 30px;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.523);
}

.signup-button a {
  color: white;
}

.signup-button:hover {
  background-color: #000;
}

a {
  text-decoration: none;
  color: black;
}
.item{
  position: relative;
}

.item-content{
  position: absolute;
  width: max-content;
  background-color: #00000028;
  border-top: 3px solid rgb(105, 149, 202);
}

.nav-menu l1{
margin: 10px;
font-size: 100px;
}

.CaretDown {
  position: relative;
  color: var(--violet-10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state='open'] > .CaretDown {
  transform: rotate(-180deg);
}

.home-banner {
  margin-top: 190px;
  /* height: 90vh; */
}

.motto {
  margin-right: 50%;
  margin-left: 10%;
}

.motto h1{
  font-size: 65px;
  font-weight: 400;
  color: white;
}

.motto p{
  color: white;
  width: 80%;
  font-size: 25px;
  font-weight: 300;
  margin-top: 25px;
}

.start-application-buttons button {
  border-radius: 50px;
  width: 25%;
  height: 50px;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.523);
  font-size: 13px;
  border: none;
  font-weight: 200;
  color: white;
}

.start-application-buttons  button:hover {
  background-color: #000;
}

.search{
  display: flex;
  justify-content: center;
}
.presearch-text {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search p {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.telescope {
  background-image: url('/telescope.png');
  background-size: contain;
  margin-left: 30px;
  width: 50px;
  height: 50px;

}

.search-form-container {
  margin-top: 150px;
  height: max-content;
  width: 80%;
  background-color: rgb(105, 149, 202);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-search-form-container{
  margin-top: 14vh;
  height: max-content;
  padding: 10px;
  width: 100%;
  background-color: rgb(105, 149, 202);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-search-form{
  width: 80%;
}

search-form form{
  display: flex;
  align-items: center;
  width: 50%;
}

.grid-search-form-container input {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  font-size: larger;
  border-radius: 60px;
  border: none;
  height: 60px;
  width: 80%;
  position: relative;
}

.search-form{
  display: flex;
  width: 75%;
  height: 60px;
}

.search-form form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-form-container input {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  font-size: larger;
  border-radius: 60px;
  border: none;
  height: 60px;
  width: 100%;
  position: relative;
}

.search-result{
  height: max-content;
  background-color: #ecebe7d2;
  border-radius: 10px;
  width: 54%;
  position: absolute;
  margin-top: 62px;
}

.each-search-result{
  margin: 30px;
}

.search-form button {
  width: 35px;
  height: 35px;
  background-image: url('/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 30px;
}    

.search-filters{
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  width: 90%;
  text-align: left;
}

.search-filters p{
  font-size: 17px;
  margin: 20px;
}

.search-filters-buttons{
  display: flex;
  flex-wrap: wrap;
}

.search-filters button{
  margin: 20px;
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(63, 117, 183);
  color: #000;
}

.start button{
  padding: 20px;
  font-size: 15px;
  margin: 20px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: black;
}

.start a:hover{
  text-decoration: underline;
}

.faq-banner{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  background-color: rgb(243, 243, 243);
  margin-top: 10%;
}

.faq-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: max-content;
  min-height: 40vh;
}

.header-writings{
  height: 40vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 70px;
  color: black;
}

.header-writings h1{
  font-size: 70px;
  font-weight:200;
}

.header-writings p{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}

.header-svgs{
  width: 15%;
  height: 29vh; 
  padding: 10px;
  margin-top: 30px;
  margin-right: 20px;
  background-image: url('/hot-air-balloon.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.faq-cards{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  min-height: 50vh;
  justify-content: center;
  color: white;
}


.why-school{
  display: flex;
  width: 21%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  background-color: rgb(105, 149, 202);
}

.why-school-svg{
  width: 27%;
  height: 9vh;
  padding: 10px;
  background-image: url('/book.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.why-school h1{
  font-size: 15px;
  font-weight: 300;
}

.why-school p{
  margin-right: 80px;
  font-weight: 300;
}

.why-school a:hover{
  text-decoration: underline;
}

.fees{
  display: flex;
  width: 22%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  background-color: rgb(105, 149, 202);
}

.fees-svg{
  width: 23%;
  height: 9vh;
  padding: 10px;
  background-image: url('/calculator.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.fees h1{
  font-size: 15px;
  font-weight: 300;
}

.fees p{
  margin-right: 40px;
  font-weight: 300;
}

.fees a:hover{
  text-decoration: underline;
}

.roadmap{
  display: flex;
  width: 21%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  background-color: rgb(105, 149, 202);
}

.roadmap-svg{
  width: 27%;
  height: 9vh;
  padding: 10px;
  background-image: url('/distance.png');
  background-size:contain;
  background-repeat: no-repeat;
}

.roadmap h1{
  font-size: 15px;
  font-weight: 300;
}

.roadmap p{
  margin-right: 40px;
  font-weight: 300;
}

.roadmap a:hover{
  text-decoration: underline;
}

.help-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to right, rgb(105, 149, 202), rgba(82, 190, 218))
}

.contact-support{
  display: flex;
  flex-direction: row;
  width: 65%;
  height: 30vh;
  background-color: white;
}
.contact-support-photo{
  width: 27%;
  height: 27vh;
  margin: 15px;
  border-radius: 10px;
  background-image: url("/customer-care.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
 
.contact-support-writings{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
}

.contact-support-writings h1{
  color: rgba(82, 190, 218);
  font-size: 45px;
  font-weight: 300;
}

.contact-support-writings button{
  margin: 20px;
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: rgba(82, 190, 218);
}

.contact-support-writings button:hover {
  background-color: #0056b3;
}

.sign-up-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170vh;
  /* background-color: rgb(39, 102, 161); */
  background-image: url('/home-image.jpg');
  background-repeat: no-repeat;
}

.signup-header h1{
  color: black;
  font-family: 'mynerve';
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 150vh;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 30px;
}
.signup-container-writings{
  margin: 50px;
  margin-bottom: 0px;
}

.signup-container-writings h1{
  font-size: 23px;
  font-weight: 300;
}

.signup-form-div{
  width: 75%;
}
 
#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 140vh;
  justify-content: space-evenly;
}

#sign-up-form button{
  font-size: 12px;
  width: 31%;
  height: 6vh;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: rgb(105, 149, 202);
}

.signin-header h1{
  font-family: 'Mynerve';
  color: black;
  font-weight: 300;
}

.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/home-image.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 80vh;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 30px;
  }

.container-writings{
  width: 80%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
}

.container-writings h1{
  font-size: 30px;
  font-weight: 300;
}

.container-writings p{
  font-size: 13px;
  font-weight: 300;
}

.sign-in-form-div {
  display: flex;
  height: 100vh;
  width: 80%;
}

#sign-in-form {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 100%;
}

.login-username{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5vh;
}

.login-password{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5vh;
}

input{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  background-color: aliceblue;
  border: 1px solid #55555565;
  border-radius: 5px;
}

input:focus {
  border: 1px solid #000;
}

.sign-in-form-div a:hover{
  text-decoration: underline
}

#sign-in-form button{
  font-size: 12px;
  margin-top: 15px;
  width: 25%;
  height: 6vh;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: rgb(105, 149, 202);
}

.signup-signin{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-signin a:hover{
  text-decoration: underline
}

.why-school-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.why-school-header{
  margin-top: 190px;
  margin-left: 300px;
}

.why-school-header h1{
  font-size: 60px;
  font-weight: 500;
}

.header-underline{
  margin-top: 20px;
  height: 7px;
  width: 170px;
  background-image: linear-gradient(to right, rgb(116, 196, 226), rgba(202, 225, 122))
}

.why-school-svgs{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: flex-start;
  border-bottom: 3px solid rgba(202, 225, 122);
}

.svg2{
  background-image: url('/children.png');
  margin-left: 180px;
  width: 27%;
  height: 15vh;
  padding: 10px;
  background-size: contain; 
  background-repeat: no-repeat;
}


.svg3{
  background-image: url('/playtime.png');
  margin-left: 500px;
  width: 27%;
  height: 15vh;
  padding: 10px;
  background-size: contain; 
  background-repeat: no-repeat;
}

.why-school-info-banner{
  background-color: #ecebe776;
  
}

.why-school-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 10%;
  width: 43%;
  height: max-content;
}

.why-school-info h1{
font-size: 35px;
font-weight: 500;
}

.why-school-info p{
  font-size: 20px;
  margin-top: 30px;
  font-weight: 300;
}

.why-school-more-info-banner{
  height: 900vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info1{
  height: 30vh;
  width: 57%;
  margin-top: 130px;
}

.more-info1 h1{
  font-size: 22px;
  font-weight: 600;
}

.more-info1 p{
  margin-top: 20px;
  font-weight: 300;
}

.more-info2{
  height: 30vh;
  width: 57%;
  margin-top: 20px;
}

.more-info2 h1{
  font-size: 22px;
  font-weight: 600;
}

.more-info2 p{
  margin-top: 30px;
  font-weight: 300;
}

.more-info3{
  height: 35vh;
  width: 57%;
  margin-top: 30px;
}

.more-info3 h1{
  font-size: 22px;
  font-weight: 600;
}

.more-info3 p{
  margin-top: 30px;
  font-weight: 300;
}

.roadmap-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.roadmap-header{
  margin-top: 190px;
  margin-left: 300px;
}

.roadmap-header h1{
  font-size: 60px;
  font-weight: 500;
}

.roadmap-underline{
  margin-top: 20px;
  height: 7px;
  width: 170px;
  background-image: linear-gradient(to right, rgb(116, 196, 226), rgba(202, 225, 122))
}

.roadmap-svgs{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: flex-start;
  border-bottom: 3px solid rgba(202, 225, 122);
}

.roadmap-info-banner{
  background-color: #ecebe776;
  
}

.roadmap-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 80px;
  width: 43%;
  height: max-content;
}

.roadmap-info h1{
font-size: 35px;
font-weight: 500;
}

.roadmap-info p{
  font-size: 20px;
  margin-top: 30px;
  font-weight: 300;
}

.roadmap-more-info-banner{
  height: 900vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fees-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.fees-header{
  margin-top: 190px;
  margin-left: 300px;
}

.fees-header h1{
  font-size: 60px;
  font-weight: 500;
}

.fees-underline{
  margin-top: 20px;
  height: 7px;
  width: 170px;
  background-image: linear-gradient(to right, rgb(116, 196, 226), rgba(202, 225, 122))
}

.fees-svgs{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: flex-start;
  border-bottom: 3px solid rgba(202, 225, 122);
}

.fees-info-banner{
  background-color: #ecebe776;
  
}

.fees-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 80px;
  width: 43%;
  height: max-content;
}

.fees-info h1{
font-size: 35px;
font-weight: 500;
}

.fees-info p{
  font-size: 20px;
  margin-top: 30px;
  font-weight: 300;
}

.fees-more-info-banner{
  height: 1000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-page{
  display: flex;
  flex-direction: column;
}

.profile-navbar  {
  display: flex;
  flex-direction: row;
  background-color: #ecebe776;
  position: fixed;
  width: 100%;
  height: 7em;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border-bottom: 3px solid rgb(105, 149, 202);
}

.profile-navbar h1{
  font-weight: 300;
  font-family: "Mynerve";
}

.profile-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid rgb(105, 149, 202);
}

.profile-writings{
  font-size: 13px;
}

.profile-details button{
  font-size: 12px;
  margin: 20px;
  width: 31%;
  height: 6vh;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: black;
}

.profile-details button a{
  color: white ;
}

.profile-photos{
  width: 70px;
  height: 50px;
  margin: 20px;
  background-image: url("/profile.png");
  background-repeat: no-repeat;
}

.profile-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.profile-navbar-buttons {
  margin-top: 90px;
  margin-right: 230px;
}

.profile-navbar-buttons ul{
  display: flex;
  flex-direction: row;
}

.profile-navbar-buttons li{
  font-size: 17px;
  font-weight: 300;
  list-style: none;
  margin: 10px;
  padding: 8px 0;
}

.profile-banner{
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-top: 190px;
  margin-left: 250px;
}

.profile-dashboard{
  width: 85%;
  padding: 50px;
  border: 5px solid #c1c1c1bf;
  height: max-content;
}

.profile-dashboard h1{
  font-size: 25px;
  font-weight: 300;
  border-bottom: 2px solid #ecebe7bf;
}

.profile-dashboard p{
  margin-top: 13px;
}

.profile-dashboard ul{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.profile-dashboard li{
  list-style: circle;
  margin-top: 8px;
}

.profile-help{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 25%;
  border: 2px solid rgb(105, 149, 202);
}

.profile-help h1{
  font-size: 20px;
  font-weight: 300;
  border-bottom: 2px solid  rgb(105, 149, 202);
  padding: 20px;
}

.profile-help p{
  font-size: 15px;
  font-weight: 300;
  padding: 20px;
  margin-top: 10px;
  border-bottom: 2px solid  rgb(105, 149, 202);
}

.schoolgrid-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-heading{
  display: flex;
  align-items: center;
  height: 15vh;
  width: 63%;
  border-bottom: 5px solid rgb(105, 149, 202);
}

.grid-heading h1{
  font-size: 25px;
  font-weight: 300;
}

.school-grid-section{
  height: 50vh;
  width: 63%;
  margin-top: 10px;
  display: inline-grid;
  grid-template-columns: 31% 31% 31%;
  column-gap: 30px;
  row-gap: 180px;
}

.each-school-grid{
  height: 20vh;
  width: 100%;
}

.each-school-grid-photo{
  width: 100%;
  height: 25vh;
  background-size: c;
  /* background-repeat: none; */
}

.each-school-grid p{
  color: rgb(105, 149, 202);
  font-size: 20px;
  text-align: center;
}

#location{
  color: black;
  font-size: 15px;
  font-weight: 200;
}

#logo-photo{
  width: 100%;
  height: 29vh;
  padding: 5%;
  background-size: contain;
  background-repeat: no-repeat;
}

.schoolinfo-page{
  display: flex;
  flex-direction: column;
}

.schoolinfo-page-banner{
  height:30vh;
  width: 100%;
}

.schoolinfo-banner-writings{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("/bisschphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.schoolinfo-banner-writings h1{
  font-size: 70px;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.schoolinfo-banner-writings2{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("/absschoolphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.schoolinfo-banner-writings2 h1{
  font-size: 70px;
  font-weight: 400;
  color: white;
  display: flex;
  justify-content: center;

}

.schoolinfo-banner-writings3{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("/tisschoolphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.schoolinfo-banner-writings3 h1{
  font-size: 70px;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.schoolinfo-banner-writings4{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("/aisschphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.schoolinfo-banner-writings4 h1{
  font-size: 70px;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.schoolinfo-banner-writings5{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("/gisschphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.schoolinfo-banner-writings5 h1{
  font-size: 70px;
  font-weight: 400;
  display: flex;
  color: white;
  justify-content: center;

}

.schoolinfo-banner-writings6{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("/aisschphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.schoolinfo-banner-writings6 h1{
  font-size: 70px;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.schoolinfo-banner-writings7{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("/sosschphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.schoolinfo-banner-writings7 h1{
  font-size: 70px;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.schoolinfo-reg-buttons{
  display: flex;
  flex-direction: row;
}

.schoolinfo-reg-buttons div{
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: max-content;
  height: 7vh;
  padding: 30px;
  margin: 20px;
  background-color: aliceblue}

.schoolinfo-reg-buttons  div:hover {
  background-color: rgba(158, 180, 198, 0.755);
}
  

.schoolinfo-info{
  display: flex;
  flex-direction: row;
}

.info-writings{
  width: 60%;
  font-size: 17px;
  padding: 5%;
}

.info-reg{
  width: 40%;
  font-size: 15px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.school-emblem img{
  width: 100%;
  height: 30vh;
  background-size:contain;
  background-repeat: no-repeat;
}

.info-reg-buttons{
  display: flex;
  flex-direction: row; 
}

.info-reg-buttons div{
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: max-content;
  height: 7vh;
  padding: 30px;
  margin: 5px;
  background-color: aliceblue}


.info-reg-buttons div:hover {
  background-color: rgba(158, 180, 198, 0.755);
}

.school-tution{
  width: 70%;
  height: 30vh;
  margin: 10%;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 99, 71, 0.425);
}

.school-tution div{
  width: 30%;
}

.school-tution h1{
  font-size: 30px;
  font-weight: 200;
}

.school-tution p{
  font-size: 17px;
}

.school-details{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:  #f0f7ff;
}

.school-address{
  padding: 5%;
  width: 50%;
}

.school-address p{
  color: black;
  font-size: 18px;
}

.school-map{
  padding: 5%;
}

/* Add this CSS to your stylesheets */
.review-form {
  width: 100%;
  margin: 0 auto;
  padding: 15%;
  background-color: white; /* Light blue background */
  border-radius: 8px;
  
}

.review-form h2 {
  color: #0074e4; /* Blue heading text color */
}

.review-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #0074e4; /* Blue border for textarea */
  border-radius: 5px;
}

.review-form button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0074e4; /* Blue button background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.review-form button:hover {
  background-color: #0052a5; /* Darker blue on hover */
}

.star-rating {
  margin-top: 5px;
}

.star-rating span {
  font-size: 24px;
  color: #0052a57e; /* Blue star color */
  margin-right: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.star-rating span:hover {
  color: #0052a5; /* Darker blue on hover */
}

.star-rating span.selected {
  font-size: 24px;
  color: #0052a5; /* Darker blue for selected stars */
  margin-right: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.contactsupport-page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.help-form-container{
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.help-form {
  display: flex;
  flex-direction: column;
  width: max-content;
  border: 2px solid rgb(105, 149, 202);
  border-radius: 20px;
  padding: 40px;
}

.form-group {
  margin-bottom: 30px;
}

.form-group label {
  margin-bottom: 30px;
}

.form-group input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
}

.help-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.help-form button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 4em;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }

  .landing-page{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .title h1{
    font-size: 20px;
    font-family: 'mynerve';
    font-weight: 400;
  }

  .buttons li{
    display: none;
    /* align-items: center; */
    /* width: 100%; */
    /* justify-content: center; */
  }

  .buttons-mobile{
    display: block;
    width: 40%;
    display:flex;
    justify-content: end;
  }
  .home-banner {
    margin-top: 250px;
    /* height: 90vh; */
  }
  
  .motto {
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .motto h1{
    font-size: 25px;
    font-weight: 400;
    color: black;
  }
  
  .motto p{
    color: black;
    width: 80%;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
  }

  .start-application-buttons button {
    border-radius: 50px;
    width: max-content;
    height: 50px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(105, 149, 202);
    font-size: 13px;
    border: none;
    font-weight: 200;
    color: white;
  }
  
  .start-application-buttons  button:hover {
    background-color: #000;
  }
  
  .search{
    display: flex;
    justify-content: center;
  }

  .presearch-text {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .presearch-text p{
    font-size: 17px;
    font-weight: 300;
    color: white;
  }
  
  .telescope {
    background-image: url('/telescope.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: none;
  }
  
  .search-form-container {
    margin-top: 10px;
    height: max-content;
    width: 100%;
    background-color: rgb(105, 149, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-search-form-container{
    margin-top: 17%;
    height: max-content;
    width: 100%;
    background-color: rgb(105, 149, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-search-form{
    width: 100%;
  }
  
  search-form form{
    display: flex;
    align-items: center;
    width: 50%;
  }
  
  .grid-search-form-container input {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    font-size: 15px;
    border-radius: 60px;
    border: none;
    height: 1vh;
    width: 90%;
    position: relative;
  }
  
  .search-form{
    display: flex;
    width: 90%;
  }
  
  .search-form form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .search-form-container input {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    font-size: 15px;
    border-radius: 60px;
    border: none;
    height: 1vh;
    width: 100%;
    position: relative;
  }
  
  .search-result{
    height: max-content;
    background-color: #ecebe7d2;
    border-radius: 10px;
    width: 90%;
    position: absolute;
  }
  
  .each-search-result{
    margin: 10px;
  }
  
  .school-grid-section{
    height: max-content;
    display: flex;
    flex-direction: column;
  }
  
  .each-school-grid{
    height: 10vh;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .each-school-grid img{
    width: 3%;
    height: 1vh;
    background-size: contain;
    /* background-repeat: none; */
  }

  #logo-photo{
    width: 50%;
    height: 19vh;
    padding: 5%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  .each-school-grid p{
    color: rgb(105, 149, 202);
    font-size: 20px;
    text-align: center;
  }

  .search-form button {
    width: 35px;
    height: 35px;
    background-image: url('/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-left: 30px;
    display: none;
  }    
  
  
  
  .search-filters{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-left: 0%;
  }
  
  .search-filters p{
    font-size: 15px;
    margin:10px;
  }
  
  .search-filters-buttons{
    display: flex;
    flex-wrap: wrap;
  }
  
  .search-filters button{
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(63, 117, 183);
  }
  
  .start button{
    padding: 10px;
    font-size: 10px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    color: aliceblue;
    background-color: black;
  }
  .faq-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    background-color: rgb(243, 243, 243);
    margin-top: 0px;
  }
  
  .faq-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
  }
  
  .header-writings{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 20px;
    color: black;
  }
  
  .header-writings h1{
    font-size: 20px;
    font-weight:300;
  }
  
  .header-writings p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 200;
  }
  
  .header-svgs{
    width: 15%;
    height: 29vh; 
    padding: 10px;
    margin-top: 30px;
    margin-right: 20px;
    background-image: url('/hot-air-balloon.png');
    background-size:contain;
    background-repeat: no-repeat;
    display: none;
  }
  
  .faq-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    min-height: 50vh;
    justify-content: center;
    color: white;
  }

  .why-school{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 7px;
    background-color: rgb(105, 149, 202);
  }
  
  .why-school-svg{
    width: 27%;
    height: 6vh;
    padding: 10px;
    background-image: url('/book.png');
    background-size:contain;
    background-repeat: no-repeat;
  }
  
  .why-school h1{
    font-size: 15px;
    font-weight: 300;
  }
  
  .why-school p{
    margin-right: 80px;
    font-weight: 300;
  }
  
  .why-school a:hover{
    text-decoration: underline;
  }
  
  .fees{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 7px;
    background-color: rgb(105, 149, 202);
  }
  
  .fees-svg{
    width: 23%;
    height: 6vh;
    padding: 10px;
    background-image: url('/calculator.png');
    background-size:contain;
    background-repeat: no-repeat;
  }
  
  .fees h1{
    font-size: 15px;
    font-weight: 300;
  }
  
  .fees p{
    margin-right: 40px;
    font-weight: 300;
  }
  
  .fees a:hover{
    text-decoration: underline;
  }
  
  .roadmap{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    margin: 7px;
    background-color: rgb(105, 149, 202);
  }
  
  .roadmap-svg{
    width: 27%;
    height: 6vh;
    padding: 10px;
    background-image: url('/distance.png');
    background-size:contain;
    background-repeat: no-repeat;
  }
  
  .roadmap h1{
    font-size: 15px;
    font-weight: 300;
  }
  
  .roadmap p{
    margin-right: 40px;
    font-weight: 300;
  }
  
  .roadmap a:hover{
    text-decoration: underline;
  }

  .help-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to right, rgb(105, 149, 202), rgba(82, 190, 218))
  }

.contact-support{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50vh;
  background-color: white;
}
.contact-support-photo{
  width: 92%;
  height: 27vh;
  margin: 15px;
  border-radius: 10px;
  background-image: url("/customer-care.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
 
.contact-support-writings{
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  align-items: center;
  justify-content: center;
}

.contact-support-writings h1{
  color: rgba(82, 190, 218);
  font-size: 27px;
  font-weight: 300;
  text-align: center;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: max-content;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 30px;
  }


.sign-in-form-div {
  display: flex;
  height: max-content;
  width: 80%;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 150vh;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 30px;
}
.signup-container-writings{
  margin: 50px;
  margin-bottom: 0px;
}

.signup-container-writings h1{
  font-size: 23px;
  font-weight: 300;
}

.signup-form-div{
  width: 75%;
  height: max-content;
}
 
#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 130vh;
  justify-content: space-evenly;
}

#sign-up-form button{
  font-size: 12px;
  width: 40%;
  height: 6vh;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: rgb(105, 149, 202);
}
.why-school-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.why-school-header{
  margin-top: 25%;
  margin-left: 30px;
}

.why-school-header h1{
  font-size: 30px;
  font-weight: 500;
}

.header-underline{
  margin-top: 20px;
  height: 7px;
  width: 170px;
  background-image: linear-gradient(to right, rgb(116, 196, 226), rgba(202, 225, 122))
}

.why-school-svgs{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: flex-start;
  border-bottom: 3px solid rgba(202, 225, 122);
}

.svg2{
  background-image: url('/children.png');
  margin-left: 10%;
  width: 20%;
  height: 7vh;
  padding: 20px;
  background-size: contain; 
  background-repeat: no-repeat;
}


.svg3{
  background-image: url('/playtime.png');
  margin-left: 40%;
  width: 20%;
  height: 7vh;
  padding: 10px;
  background-size: contain; 
  background-repeat: no-repeat;
}

.why-school-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
  height: max-content;
}

.why-school-info h1{
font-size: 20px;
font-weight: 500;
}

.why-school-info p{
  font-size: 15px;
  margin-top: 30px;
  font-weight: 300;
}

.why-school-more-info-banner{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-info1{
  height: max-content;
  width: 90%;
  margin-top: 20%;
}

.more-info2{
  height: max-content;
  width: 90%;
  margin-top: 20%;
}

.more-info3{
  height: max-content;
  width: 90%;
  margin-top: 20%;
}

.fees-header{
  margin-top: 25%;
  margin-left: 30px;
}

.fees-header h1{
  font-size: 30px;
  font-weight: 500;
}

  
.fees-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
  height: max-content;
}

.fees-info h1{
  font-size: 20px;
  font-weight: 500;
}

.fees-info p{
  font-size: 15px;
  margin-top: 30px;
  font-weight: 300;
}

.fees-more-info-banner{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roadmap-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.roadmap-header{
  margin-top: 25%;
  margin-left: 30px;
}

.roadmap-header h1{
  font-size: 30px;
  font-weight: 500;
}

.roadmap-underline{
  margin-top: 20px;
  height: 7px;
  width: 170px;
  background-image: linear-gradient(to right, rgb(116, 196, 226), rgba(202, 225, 122))
}

.roadmap-svgs{
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: flex-start;
  border-bottom: 3px solid rgba(202, 225, 122);
}

.roadmap-info-banner{
  background-color: #ecebe776;
  
}

.roadmap-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
  height: max-content;
}

.roadmap-info h1{
  font-size: 20px;
  font-weight: 500;
}

.roadmap-info p{
  font-size: 15px;
  margin-top: 30px;
  font-weight: 300;
}

.roadmap-more-info-banner{
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-navbar  {
  display: flex;
  flex-direction: row;
  background-color: #ecebe776;
  position: fixed;
  width: 100%;
  height: 4em;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border-bottom: 3px solid rgb(105, 149, 202);
}

.profile-navbar h1{
  font-size: 25px;
  font-weight: 300;
  font-family: "Mynerve";
}

.profile-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid rgb(105, 149, 202);
  display: none;
}

.profile-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.profile-navbar-buttons {
  margin-top: 90px;
  margin-right: 230px;
  display: none;
}

.profile-banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20%;
  margin-left: 0px;
}

.profile-dashboard{
  width: 95%;
  padding: 50px;
  border: 5px solid #c1c1c1bf;
  height: max-content;
}

.profile-dashboard h1{
  font-size: 25px;
  font-weight: 300;
  border-bottom: 2px solid #ecebe7bf;
}

.profile-dashboard p{
  margin-top: 13px;
}

.profile-dashboard ul{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.profile-dashboard li{
  list-style: circle;
  margin-top: 8px;
}

.profile-help{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 25%;
  border: 2px solid rgb(105, 149, 202);
  display: none;
}

.grid-heading{
  display: flex;
  align-items: center;
  height: max-content;
  padding: 3%;
  width: 90%;
  border-bottom: 5px solid rgb(105, 149, 202);
}

.grid-heading h1{
  font-size: 17px;
  font-weight: 300;
}

.school-grid-section{
  height: 50vh;
  width: 95%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 30px;
}

.each-school-grid{
  height: 20vh;
  width: 100%;
}

.each-school-grid-photo{
  width: 100%;
  height: 20vh;
  background-color: rgb(105, 149, 202);
}

.each-school-grid p{
  color: rgb(105, 149, 202);
  font-size: 15px;
}

.schoolinfo-page{
  display: flex;
  flex-direction: column;
}

.schoolinfo-page-banner{
  height: max-content;
  width: 100%;
}

.schoolinfo-banner-writings{
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(116, 197, 226, 0.286), rgba(203, 225, 122, 0.286));
}

.schoolinfo-banner-writings2{
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(116, 197, 226, 0.286), rgba(203, 225, 122, 0.286));
}

.schoolinfo-banner-writings h1{
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.schoolinfo-banner-writings2 h1{
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.schoolinfo-reg-buttons{
  display: flex;
  flex-direction: column;
}

.schoolinfo-reg-buttons div{
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: max-content;
  height: 1vh;
  padding: 20px;
  margin: 10px;
  background-color: aliceblue}

.schoolinfo-reg-buttons  div:hover {
  background-color: rgba(158, 180, 198, 0.755);
}
  

.schoolinfo-info{
  display: flex;
  flex-direction: column;
}

.info-writings{
  width: 95%;
  font-size: 15px;
  padding: 5%;
}

.info-reg{
  width: 95%;
  font-size: 15px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.school-emblem{
  height: 20vh;
  width: 90%;
  background-color: black;
}

.info-reg-buttons{
  display: flex;
  flex-direction: column; 
}

.info-reg-buttons div{
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: max-content;
  height: 1vh;
  padding: 20px;
  margin: 10px;
  background-color: aliceblue}


.info-reg-buttons div:hover {
  background-color: rgba(158, 180, 198, 0.755);
}

}
