@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&family=Mynerve&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
    /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family:'Poppins', sans-serif;
}

.homepage{
  background-image: url(/home-image.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: contain;
}

.landing-page{
  display: flex;
  flex-direction: column;
  height: 85vh;

}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #ecebe776;
  position: fixed;
  width: 100%;
  height: 7em;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.title h1{
  font-family: 'mynerve';
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  /* align-items: center; */
  /* width: 100%; */
  /* justify-content: center; */
}

.buttons ul {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.buttons li {
  font-size: 17px;
  font-weight: 300;
  list-style: none;
  margin: 30px;
  padding: 8px 0;
  /* margin-left: 80px;
  margin-bottom: 13px; */
}

.login-button {
  /* color: white; */
  border-radius: 30px;
  width: 80px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.523);
}

.login-button a {
  color: white;
}

.login-button:hover {
  background-color: #000;
}

.signup-button {
  /* color: white; */
  border-radius: 30px;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.523);
}

.signup-button a {
  color: white;
}

.signup-button:hover {
  background-color: #000;
}

a {
  text-decoration: none;
  color: black;
}

.home-banner {
  margin-top: 190px;
  /* height: 90vh; */
}

.motto {
  margin-right: 50%;
  margin-left: 10%;
}

.motto h1{
  font-size: 65px;
  font-weight: 400;
  color: white;
}

.motto p{
  color: white;
  width: 80%;
  font-size: 25px;
  font-weight: 300;
  margin-top: 25px;
}

.start-application-buttons button {
  border-radius: 50px;
  width: 25%;
  height: 50px;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.523);
  font-size: 13px;
  border: none;
  font-weight: 200;
  color: white;
}

.start-application-buttons  button:hover {
  background-color: #000;
}

.search{
  display: flex;
  justify-content: center;
}
.presearch-text {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search p {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.telescope {
  background-image: url('/telescope.png');
  background-size: contain;
  margin-left: 30px;
  width: 50px;
  height: 50px;

}

.search-form-container {
  margin-top: 50px;
  height: 65vh;
  width: 80%;
  background-color: rgb(105, 149, 202);
}

.search-form-container form{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.search-form-container input {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  font-size: larger;
  border-radius: 60px;
  border: none;
  height: 60px;
  width: 80%;
}

.form button {
  width: 35px;
  height: 35px;
  background-image: url('/search.png');
  background-size: contain;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 30px;
}    

.search-filters{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 90%;
  text-align: left;
}

.search-filters p{
  font-size: 17px;
  margin:20px;
}

.search-filters-buttons{
  display: flex;
  flex-wrap: wrap;
}

.search-filters button{
  margin: 20px;
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  background-color: rgb(63, 117, 183);
}

.start button{
  padding: 20px;
  font-size: 15px;
  margin: 20px;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: black;
}

.faq-banner{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
  margin-top: 150px;
}

.faq-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 40vh;
}

.header-writings{
  height: 40vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 70px;
  color: black;
}

.header-writings h1{
  font-size: 70px;
  font-weight:200;
}

.header-writings p{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}

.header-svgs{
  width: 15%;
  height: 29vh; 
  padding: 10px;
  margin-top: 30px;
  margin-right: 20px;
  background-image: url('/hot-air-balloon.png');
  background-size:cover;
}

.faq-cards{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40vh;
  justify-content: center;
  color: white;
}


.why-school{
  display: flex;
  width: 21%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  background-color: rgb(105, 149, 202);
}

.why-school-svg{
  width: 27%;
  height: 9vh;
  padding: 10px;
  background-image: url('/book.png');
  background-size:cover;
}


.why-school h1{
  font-size: 15px;
  font-weight: 300;
}

.why-school p{
  margin-right: 80px;
  font-weight: 300;
}

.why-school a:hover{
  text-decoration: underline;
}

.fees{
  display: flex;
  width: 22%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  background-color: rgb(105, 149, 202);
}

.fees-svg{
  width: 23%;
  height: 9vh;
  padding: 10px;
  background-image: url('/calculator.png');
  background-size:cover;
}

.fees h1{
  font-size: 15px;
  font-weight: 300;
}

.fees p{
  margin-right: 50px;
  font-weight: 300;
}

.fees a:hover{
  text-decoration: underline;
}

.roadmap{
  display: flex;
  width: 21%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
  background-color: rgb(105, 149, 202);
}

.roadmap-svg{
  width: 27%;
  height: 9vh;
  padding: 10px;
  background-image: url('/distance.png');
  background-size:cover;
}

.roadmap h1{
  font-size: 15px;
  font-weight: 300;
}

.roadmap p{
  margin-right: 50px;
  font-weight: 300;
}

.roadmap a:hover{
  text-decoration: underline;
}

.help-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to right, rgb(105, 149, 202), rgba(82, 190, 218))
}

.contact-support{
  display: flex;
  flex-direction: row;
  width: 65%;
  height: 30vh;
  background-color: white;
}
.contact-support-photo{
  width: 27%;
  height: 27vh;
  margin: 15px;
  border-radius: 10px;
  background-image: url("/customer-care.jpg");
  background-size: cover;
}
 
.contact-support-writings{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
}

.contact-support-writings h1{
  color: rgba(82, 190, 218);
  font-size: 45px;
  font-weight: 300;
}

.contact-support-writings button{
  margin: 20px;
  padding: 15px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: rgba(82, 190, 218);
}

.sign-up-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170vh;
  /* background-color: rgb(39, 102, 161); */
  background-image: url('/home-image.jpg');
  background-repeat: no-repeat;
}

.signup-header{
  color: white;
  font-family: 'mynerve';
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 150vh;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 30px;
}
.signup-container-writings{
  margin: 50px;
  margin-bottom: 0px;
}

.signup-container-writings h1{
  font-size: 23px;
  font-weight: 300;
}

.signup-form-div{
  width: 75%;
}
 
#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 140vh;
  justify-content: space-evenly;
}

#sign-up-form button{
  font-size: 12px;
  width: 31%;
  height: 6vh;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: rgb(105, 149, 202);
}

.signin-header{
  font-family: 'Mynerve';
  color: white;
  font-weight: 300;
}

.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/home-image.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 80vh;
  margin-top: 50px;
  background-color: aliceblue;
  border-radius: 30px;
  }

.container-writings{
  width: 80%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
}

.container-writings h1{
  font-size: 30px;
  font-weight: 300;
}

.container-writings p{
  font-size: 13px;
  font-weight: 300;
}

.sign-in-form-div {
  display: flex;
  height: 100vh;
  width: 80%;
}

#sign-in-form {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 100%;
}

.login-username{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5vh;
}

.login-password{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5vh;
}

input{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  background-color: aliceblue;
  border: 1px solid #55555565;
  border-radius: 5px;
}

input:focus {
  border: 1px solid #000;
}

.sign-in-form-div a:hover{
  text-decoration: underline
}

#sign-in-form button{
  font-size: 12px;
  margin-top: 15px;
  width: 25%;
  height: 6vh;
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: rgb(105, 149, 202);
}

.signup-signin{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-signin a:hover{
  text-decoration: underline
}

.profile-navbar  {
  display: flex;
  flex-direction: row;
  background-color: #ecebe776;
  position: fixed;
  width: 100%;
  height: 7em;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.profile-navbar h1{
  font-weight: 300;
  font-family: "Mynerve";
}

.profile-details{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-writings{
  font-size: 13px;
}

.profile-details button{
  font-size: 12px;
  margin: 20px;
  width: 31%;
  height: 6vh;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: black;
}

.profile-photos{
  width: 70px;
  height: 50px;
  margin: 20px;
  background-image: url("/profile.png");
}

